USE [gkalai01]
GO
/****** Object:  User [gkalai01]    Script Date: 06-May-16 1:09:24 PM ******/
CREATE USER [gkalai01] FOR LOGIN [gkalai01] WITH DEFAULT_SCHEMA=[gkalai01]
GO
ALTER ROLE [db_owner] ADD MEMBER [gkalai01]
GO
/****** Object:  Table [gkalai01].[APPOINTMENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[APPOINTMENT](
	[APPOINTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_ID] [nvarchar](50) NOT NULL,
	[STAFF_ID] [nvarchar](50) NOT NULL,
	[BRANCH_ID] [nvarchar](50) NOT NULL,
	[DATE] [date] NOT NULL,
	[TIME] [time](7) NOT NULL,
	[ATTEND] [bit] NULL,
 CONSTRAINT [PK_APPOINTMENT_1] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[BRANCH]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[BRANCH](
	[BRANCH_ID] [nvarchar](50) NOT NULL,
	[CITY] [nvarchar](50) NOT NULL,
	[STREET_NAME] [nvarchar](50) NOT NULL,
	[ZIP_CODE] [int] NOT NULL,
	[COUNTRY] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BRANCH] PRIMARY KEY CLUSTERED 
(
	[BRANCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[CLIENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[CLIENT](
	[CLIENT_ID] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[PHONE_NUMBER] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[CLIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[CLIENT_LAWYER_CONNECTION]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[CLIENT_LAWYER_CONNECTION](
	[CLIENT_ID] [nvarchar](50) NOT NULL,
	[STAFF_ID] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[CONSULTATION]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[CONSULTATION](
	[CONSULTATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NOT NULL,
	[CLIENT_ID] [nvarchar](50) NOT NULL,
	[BRANCH_ID] [nvarchar](50) NOT NULL,
	[LEGAL_OPINION] [nvarchar](200) NULL,
	[RECOMMENTATION] [nvarchar](50) NOT NULL,
	[ATTEND] [bit] NOT NULL,
	[STAFF_ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CONSULTATION] PRIMARY KEY CLUSTERED 
(
	[CONSULTATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[CONSULTATION_COMMENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[CONSULTATION_COMMENT](
	[STAFF_ID] [nvarchar](50) NOT NULL,
	[COMMENT] [nvarchar](100) NOT NULL,
	[CONSL_COMMENT] [int] IDENTITY(1,1) NOT NULL,
	[CONSULTATION_ID] [int] NOT NULL,
 CONSTRAINT [PK_CONSULTATION_COMMENT] PRIMARY KEY CLUSTERED 
(
	[CONSL_COMMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[INCIDENTS]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[INCIDENTS](
	[CLIENT_ID] [nvarchar](50) NOT NULL,
	[CASE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_INCIDENTS] PRIMARY KEY CLUSTERED 
(
	[CLIENT_ID] ASC,
	[CASE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[LAWYER_SECRETARY_CONNECTION]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[LAWYER_SECRETARY_CONNECTION](
	[LAWYER] [nvarchar](50) NOT NULL,
	[SECRETARY] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[ROLE]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[ROLE](
	[ROLE_TYPE] [nchar](20) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[ROLE_DESCRIPTION] [nchar](50) NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[STAFF]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[STAFF](
	[STAFF_ID] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[PHONE_NUMBER] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[STAFF_ROLE_ID] [int] NULL,
	[ADDRESS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[TRANSACTION]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[TRANSACTION](
	[CLIENT_ID] [nvarchar](50) NOT NULL,
	[BRANCH_ID] [nvarchar](50) NOT NULL,
	[DATE] [date] NOT NULL,
	[AMOUNT] [float] NOT NULL CONSTRAINT [DF__TRANSACTI__AMOUN__2F2FFC0C]  DEFAULT ('0.0'),
	[TRANSACTION_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [gkalai01].[USERS]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gkalai01].[USERS](
	[STAFF_ID] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [gkalai01].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTMENT_BRANCH] FOREIGN KEY([BRANCH_ID])
REFERENCES [gkalai01].[BRANCH] ([BRANCH_ID])
GO
ALTER TABLE [gkalai01].[APPOINTMENT] CHECK CONSTRAINT [FK_APPOINTMENT_BRANCH]
GO
ALTER TABLE [gkalai01].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTMENT_CLIENT] FOREIGN KEY([CLIENT_ID])
REFERENCES [gkalai01].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [gkalai01].[APPOINTMENT] CHECK CONSTRAINT [FK_APPOINTMENT_CLIENT]
GO
ALTER TABLE [gkalai01].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTMENT_CLIENT1] FOREIGN KEY([CLIENT_ID])
REFERENCES [gkalai01].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [gkalai01].[APPOINTMENT] CHECK CONSTRAINT [FK_APPOINTMENT_CLIENT1]
GO
ALTER TABLE [gkalai01].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_APPOINTMENT_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [gkalai01].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [gkalai01].[APPOINTMENT] CHECK CONSTRAINT [FK_APPOINTMENT_STAFF]
GO
ALTER TABLE [gkalai01].[CLIENT_LAWYER_CONNECTION]  WITH CHECK ADD  CONSTRAINT [FK_CLIENT_LAWYER_CONNECTION_CLIENT] FOREIGN KEY([CLIENT_ID])
REFERENCES [gkalai01].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [gkalai01].[CLIENT_LAWYER_CONNECTION] CHECK CONSTRAINT [FK_CLIENT_LAWYER_CONNECTION_CLIENT]
GO
ALTER TABLE [gkalai01].[CLIENT_LAWYER_CONNECTION]  WITH CHECK ADD  CONSTRAINT [FK_CLIENT_LAWYER_CONNECTION_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [gkalai01].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [gkalai01].[CLIENT_LAWYER_CONNECTION] CHECK CONSTRAINT [FK_CLIENT_LAWYER_CONNECTION_STAFF]
GO
ALTER TABLE [gkalai01].[CONSULTATION]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTATION_BRANCH] FOREIGN KEY([BRANCH_ID])
REFERENCES [gkalai01].[BRANCH] ([BRANCH_ID])
GO
ALTER TABLE [gkalai01].[CONSULTATION] CHECK CONSTRAINT [FK_CONSULTATION_BRANCH]
GO
ALTER TABLE [gkalai01].[CONSULTATION]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTATION_CLIENT] FOREIGN KEY([CLIENT_ID])
REFERENCES [gkalai01].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [gkalai01].[CONSULTATION] CHECK CONSTRAINT [FK_CONSULTATION_CLIENT]
GO
ALTER TABLE [gkalai01].[CONSULTATION]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTATION_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [gkalai01].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [gkalai01].[CONSULTATION] CHECK CONSTRAINT [FK_CONSULTATION_STAFF]
GO
ALTER TABLE [gkalai01].[CONSULTATION_COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTATION_COMMENT_CONSULTATION] FOREIGN KEY([CONSULTATION_ID])
REFERENCES [gkalai01].[CONSULTATION] ([CONSULTATION_ID])
GO
ALTER TABLE [gkalai01].[CONSULTATION_COMMENT] CHECK CONSTRAINT [FK_CONSULTATION_COMMENT_CONSULTATION]
GO
ALTER TABLE [gkalai01].[CONSULTATION_COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTATION_COMMENT_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [gkalai01].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [gkalai01].[CONSULTATION_COMMENT] CHECK CONSTRAINT [FK_CONSULTATION_COMMENT_STAFF]
GO
ALTER TABLE [gkalai01].[INCIDENTS]  WITH CHECK ADD  CONSTRAINT [FK_INCIDENTS_CLIENT] FOREIGN KEY([CLIENT_ID])
REFERENCES [gkalai01].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [gkalai01].[INCIDENTS] CHECK CONSTRAINT [FK_INCIDENTS_CLIENT]
GO
ALTER TABLE [gkalai01].[LAWYER_SECRETARY_CONNECTION]  WITH CHECK ADD  CONSTRAINT [FK_LAWYER_SECRETARY_CONNECTION_STAFF] FOREIGN KEY([LAWYER])
REFERENCES [gkalai01].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [gkalai01].[LAWYER_SECRETARY_CONNECTION] CHECK CONSTRAINT [FK_LAWYER_SECRETARY_CONNECTION_STAFF]
GO
ALTER TABLE [gkalai01].[LAWYER_SECRETARY_CONNECTION]  WITH CHECK ADD  CONSTRAINT [FK_LAWYER_SECRETARY_CONNECTION_STAFF1] FOREIGN KEY([SECRETARY])
REFERENCES [gkalai01].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [gkalai01].[LAWYER_SECRETARY_CONNECTION] CHECK CONSTRAINT [FK_LAWYER_SECRETARY_CONNECTION_STAFF1]
GO
ALTER TABLE [gkalai01].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_ROLE] FOREIGN KEY([STAFF_ROLE_ID])
REFERENCES [gkalai01].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [gkalai01].[STAFF] CHECK CONSTRAINT [FK_STAFF_ROLE]
GO
ALTER TABLE [gkalai01].[TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTION_BRANCH] FOREIGN KEY([BRANCH_ID])
REFERENCES [gkalai01].[BRANCH] ([BRANCH_ID])
GO
ALTER TABLE [gkalai01].[TRANSACTION] CHECK CONSTRAINT [FK_TRANSACTION_BRANCH]
GO
ALTER TABLE [gkalai01].[TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTION_CLIENT] FOREIGN KEY([CLIENT_ID])
REFERENCES [gkalai01].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [gkalai01].[TRANSACTION] CHECK CONSTRAINT [FK_TRANSACTION_CLIENT]
GO
ALTER TABLE [gkalai01].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [gkalai01].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [gkalai01].[USERS] CHECK CONSTRAINT [FK_USERS_STAFF]
GO
/****** Object:  StoredProcedure [gkalai01].[CLIENT_INFO]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[CLIENT_INFO](@CID nvarchar(10))
AS BEGIN

select *
from CLIENT as c
where c.CLIENT_ID=@CID

END

GO
/****** Object:  StoredProcedure [gkalai01].[INSERT_CLIENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[INSERT_CLIENT](@CID nvarchar(50), @LNAME nvarchar(50), @FNAME nvarchar(50), @BDAY DATE, @PHONE nvarchar(10), @EMAIL nvarchar(50))
AS BEGIN

INSERT INTO CLIENT (
CLIENT_ID,
LAST_NAME,
FIRST_NAME,
DATE_OF_BIRTH,
PHONE_NUMBER,
EMAIL)

VALUES (
@CID,
@LNAME,
@FNAME,
@BDAY,
@PHONE,
@EMAIL
)

END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_ALL_APPOINTMENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_ALL_APPOINTMENT]
as begin

select *
from APPOINTMENT

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_ALL_BRANCHES]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [gkalai01].[SP_ALL_BRANCHES]
as begin

select *
from BRANCH

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_ALL_CLIENT_INFO]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_ALL_CLIENT_INFO]
as begin

select *
from CLIENT

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_ALL_CONSULTATION]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_ALL_CONSULTATION]
as begin

select *
from CONSULTATION

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_ALL_STAFF_INFO]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_ALL_STAFF_INFO]
as begin

select *
from STAFF

end

GO
/****** Object:  StoredProcedure [gkalai01].[SP_APPOINTMENT_INFO]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_APPOINTMENT_INFO] (@AID int)
as begin

select *
from APPOINTMENT AS A
WHERE a.APPOINTMENT_ID=@AID

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_APPOINTMENT_INFO_BY_CLIENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_APPOINTMENT_INFO_BY_CLIENT] (@CID int)
as begin

select *
from APPOINTMENT AS A
WHERE A.CLIENT_ID=@CID

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_BRANCH_INFO]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [gkalai01].[SP_BRANCH_INFO] (@BID nvarchar(50))
as begin

select *
from BRANCH AS B
WHERE B.BRANCH_ID=@BID

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_CLIENT_BRANCH_DAY]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [gkalai01].[SP_CLIENT_BRANCH_DAY]
AS BEGIN

SELECT  A.BRANCH_ID, A.[DATE], count(*) AS NUM_OF_CLIENTS
FROM APPOINTMENT AS A
WHERE A.DATE=CAST(GETDATE() AS DATE)
group by A.BRANCH_ID,  A.[DATE]

END
GO
/****** Object:  StoredProcedure [gkalai01].[SP_CLIENT_BRANCH_MONTH]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [gkalai01].[SP_CLIENT_BRANCH_MONTH]
as begin
select a.BRANCH_ID, datename(m,a.[DATE]) as [MONTH], count(*) as [COUNT]
from [APPOINTMENT] AS a
where a.ATTEND='true'
group by a.BRANCH_ID, datename(m,a.[DATE])

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_CLIENT_INFO]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_CLIENT_INFO](@CID nvarchar(50))
AS BEGIN

SELECT *
FROM CLIENT AS C
WHERE C.CLIENT_ID=@CID

END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_CLIENT_NOT_ATTEND]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [gkalai01].[SP_CLIENT_NOT_ATTEND]
AS BEGIN

SELECT CL.*
FROM CONSULTATION AS C, CLIENT as CL
WHERE C.ATTEND='False' AND C.CLIENT_ID=CL.CLIENT_ID and c.DATE=CAST(GETDATE() AS DATE)
end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_CLIENT_REC_MONTH]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [gkalai01].[SP_CLIENT_REC_MONTH] (@CID nvarchar(10))
AS BEGIN

SELECT  datename(m,C.[DATE]) AS [MONTH], C.RECOMMENTATION
FROM CONSULTATION AS C
WHERE C.CLIENT_ID=@CID
END
GO
/****** Object:  StoredProcedure [gkalai01].[SP_CONSULTATION_INFO]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_CONSULTATION_INFO] (@CONSLID int)
as begin

select *
from CONSULTATION AS C
WHERE C.CONSULTATION_ID=@CONSLID

end

GO
/****** Object:  StoredProcedure [gkalai01].[SP_DELETE_APPOINTMENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_DELETE_APPOINTMENT] (@AID INT)
AS BEGIN

DELETE FROM APPOINTMENT
WHERE APPOINTMENT_ID=@AID
END
GO
/****** Object:  StoredProcedure [gkalai01].[SP_DELETE_BRANCH]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_DELETE_BRANCH] (@BID nvarchar(50))
AS BEGIN

DELETE FROM BRANCH
WHERE BRANCH_ID=@BID
END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_DELETE_CLIENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_DELETE_CLIENT] (@CID nvarchar(50))
AS BEGIN

DELETE FROM CLIENT
WHERE CLIENT_ID=@CID
END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_DELETE_CONSULTATION_COMMENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_DELETE_CONSULTATION_COMMENT] (@CONSL_COMMENT_ID INT)
AS BEGIN

DELETE FROM CONSULTATION_COMMENT
WHERE CONSL_COMMENT = @CONSL_COMMENT_ID;
END
GO
/****** Object:  StoredProcedure [gkalai01].[SP_DELETE_STAFF]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_DELETE_STAFF] (@SID nvarchar(50))
AS BEGIN

DELETE FROM STAFF
WHERE STAFF_ID=@SID
END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_DOWNLOAD_CLIENT_DATA]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_DOWNLOAD_CLIENT_DATA] (@SID nvarchar(10))
as begin
select C.*
from CLIENT as c, CLIENT_LAWYER_CONNECTION as cl, LAWYER_SECRETARY_CONNECTION as ls
where ls.SECRETARY=@SID AND ls.LAWYER=cl.STAFF_ID AND cl.CLIENT_ID=c.CLIENT_ID
end

GO
/****** Object:  StoredProcedure [gkalai01].[SP_INSERT_APPOINTMENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_INSERT_APPOINTMENT](@CID nvarchar(50),@SID nvarchar(50),@BID nvarchar(50), @DAY DATE, @TIME time(7),@ATTEND bit)
AS BEGIN

INSERT INTO APPOINTMENT(
CLIENT_ID,
STAFF_ID,
BRANCH_ID,
DATE,
TIME,
ATTEND)

VALUES (
@CID,
@SID,
@BID,
@DAY,
@TIME,
@ATTEND)
END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_INSERT_BRANCH]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_INSERT_BRANCH] (@BID nvarchar(50), @CITY nvarchar(50) , @STREET nvarchar(50), @ZIP int, @COUNTRY nvarchar(50))
AS BEGIN

INSERT INTO BRANCH(
BRANCH_ID,
CITY,
STREET_NAME,
ZIP_CODE,
COUNTRY
)

VALUES (
@BID,
@CITY,
@STREET,
@ZIP,
@COUNTRY
)

END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_INSERT_CLIENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [gkalai01].[SP_INSERT_CLIENT](@CID nvarchar(50), @LNAME nvarchar(50), @FNAME nvarchar(50), @BDAY DATE, @PHONE nvarchar(10), @EMAIL nvarchar(50))
AS BEGIN

INSERT INTO CLIENT (
CLIENT_ID,
LAST_NAME,
FIRST_NAME,
DATE_OF_BIRTH,
PHONE_NUMBER,
EMAIL)

VALUES (
@CID,
@LNAME,
@FNAME,
@BDAY,
@PHONE,
@EMAIL
)

END


GO
/****** Object:  StoredProcedure [gkalai01].[SP_INSERT_CONSULTATION]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_INSERT_CONSULTATION] (@DATE date, @CID nvarchar(50), @BID nvarchar(50), @RECOM nvarchar(50), @ATTEND bit, @SID nvarchar(50))
AS BEGIN

INSERT INTO CONSULTATION(
[DATE],
CLIENT_ID,
BRANCH_ID,
RECOMMENTATION,
ATTEND,
STAFF_ID)

VALUES(
@DATE,
@CID,
@BID,
@RECOM,
@ATTEND, 
@SID)

END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_INSERT_CONSULTATION_COMMENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_INSERT_CONSULTATION_COMMENT] (@SIF nvarchar(50), @CONS_ID int , @COMMENT nvarchar(100))
AS BEGIN

INSERT INTO CONSULTATION_COMMENT (
STAFF_ID,
COMMENT,
CONSULTATION_ID
)

VALUES (
@SIF,
@COMMENT,
@CONS_ID
)

END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_INSERT_STAFF]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_INSERT_STAFF](@SID nvarchar(50), @FNAME nvarchar(50), @LNAME nvarchar(50), @BDAY DATE, @PHONE nvarchar(10), @EMAIL nvarchar(50),@ADDRESS nvarchar(50), @ROLE int)
AS BEGIN

INSERT INTO STAFF (
STAFF_ID,
FIRST_NAME,
LAST_NAME,
DATE_OF_BIRTH,
PHONE_NUMBER,
EMAIL,
[ADDRESS],
STAFF_ROLE_ID)

VALUES (
@SID,
@LNAME,
@FNAME,
@BDAY,
@PHONE,
@EMAIL,
@ADDRESS,
@ROLE
)

END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_INSERT_TRANSACTION]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_INSERT_TRANSACTION] (@CID nvarchar(50), @BID nvarchar(50), @DATE date, @AMOUNT float)
AS BEGIN

INSERT INTO [TRANSACTION](
CLIENT_ID,
BRANCH_ID,
[DATE],
AMOUNT
)

VALUES(
@CID,
@BID,
@DATE,
@AMOUNT
)
END


GO
/****** Object:  StoredProcedure [gkalai01].[SP_LOGIN]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_LOGIN] (@USERNAME nvarchar(50), @PASSWORD nvarchar(50))
as begin
 

if ((select USERNAME
	from USERS AS U
	where U.USERNAME=@USERNAME AND U.[PASSWORD]=@PASSWORD) is null)
return 0
else
return 1

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_LOGIN_INFO]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_LOGIN_INFO] (@USERNAME nvarchar(50))
as begin

select U.USERNAME, S.STAFF_ID,S.STAFF_ROLE_ID
from USERS AS U, STAFF AS S
where U.STAFF_ID=S.STAFF_ID AND U.USERNAME=@USERNAME

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_STAFF_INFO]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_STAFF_INFO] (@SID nvarchar(50))
as begin

select *
from STAFF as s
where s.STAFF_ID=@SID

end

GO
/****** Object:  StoredProcedure [gkalai01].[SP_UPDATE_APPOINTMENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_UPDATE_APPOINTMENT](@AID int, @DAY DATE, @TIME time(7),@ATTEND bit)
AS BEGIN

SET NOCOUNT ON;
    UPDATE APPOINTMENT
	SET [DATE]=@DAY,
		[TIME]=@TIME,
		ATTEND=@ATTEND
	WHERE APPOINTMENT_ID=@AID;

END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_UPDATE_BRANCH]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_UPDATE_BRANCH] (@BID nvarchar(50), @CITY nvarchar(50) , @STREET nvarchar(50), @ZIP int, @COUNTRY nvarchar(50))
AS BEGIN

SET NOCOUNT ON;
    UPDATE BRANCH
	SET
		CITY=@CITY,
		STREET_NAME=@STREET,
		ZIP_CODE=@ZIP,
		COUNTRY=@COUNTRY
	WHERE BRANCH_ID=@BID;
END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_UPDATE_CLIENT]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_UPDATE_CLIENT](@CID nvarchar(50), @LNAME nvarchar(50), @FNAME nvarchar(50), @BDAY DATE, @PHONE nvarchar(10), @EMAIL nvarchar(50))
AS BEGIN

SET NOCOUNT ON;
    UPDATE CLIENT
    SET 
		LAST_NAME=@LNAME,
		FIRST_NAME= @FNAME,
		DATE_OF_BIRTH= @BDAY,
		PHONE_NUMBER= @PHONE,
		EMAIL=@EMAIL
	WHERE CLIENT_ID=@CID;
END


GO
/****** Object:  StoredProcedure [gkalai01].[SP_UPDATE_CONSULTATION]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [gkalai01].[SP_UPDATE_CONSULTATION] (@CONSLID int , @RECOM nvarchar(100), @ATTEND bit)
AS BEGIN

SET NOCOUNT ON;
    UPDATE CONSULTATION
    SET RECOMMENTATION=@RECOM,
		ATTEND = @ATTEND
	WHERE CONSULTATION_ID=@CONSLID

END
GO
/****** Object:  StoredProcedure [gkalai01].[SP_UPDATE_STAFF]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [gkalai01].[SP_UPDATE_STAFF](@SID nvarchar(50), @LNAME nvarchar(50), @FNAME nvarchar(50), @BDAY DATE, @PHONE nvarchar(10), @EMAIL nvarchar(50),@ADDRESS nvarchar(50), @ROLE int)
AS BEGIN

SET NOCOUNT ON;
    UPDATE STAFF
    SET FIRST_NAME=@FNAME,
		LAST_NAME=@LNAME,
		DATE_OF_BIRTH=@BDAY,
		PHONE_NUMBER=@PHONE,
		EMAIL=@EMAIL,
		[ADDRESS]=@ADDRESS,
		[STAFF_ROLE_ID] = @ROLE
	WHERE STAFF_ID=@SID;

END

GO
/****** Object:  StoredProcedure [gkalai01].[SP_VIEW_RECOMMENDATION]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [gkalai01].[SP_VIEW_RECOMMENDATION] (@CID nvarchar(10))
as begin

select c.RECOMMENTATION
from CONSULTATION as c
where c.CLIENT_ID = @CID

end
GO
/****** Object:  StoredProcedure [gkalai01].[SP_VIEW_TRANSACTION]    Script Date: 06-May-16 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [gkalai01].[SP_VIEW_TRANSACTION] (@CID nvarchar(10))
AS BEGIN

select *
from [TRANSACTION] as t
where t.CLIENT_ID=@CID;
END

GO
